body {
    background-color: #00FFFF;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1, h2 {
    text-align: center;
}
.container {
    width: 100%;
    display: flex;
}

aside {
    width: 300px;
    display: flex;
    margin-left: auto;
    border-radius: 1rem;
}

aside h1 {
    font-size: 1.5rem;
}
aside ul {
    list-style: none;
    border-left-style: solid;
    border-color: #fff;
    font-size: 0.9rem;
    margin-right: 1rem;

}